<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign page_paths = site.content.ordered_header_pages -%}

    <!-- {{site.content.ordered_header_pages | inspect}} -->


    <p class="moses_name">moses turner's websdite!</p>

    {%- if page_paths -%}
        <div class="trigger">
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a> &nbsp&nbsp&nbsp
            {%- endif -%}
          {%- endfor -%}
        </div>
    {%- endif -%}
  </div>
</header>
