---
---

html {
    background-color: black;
    image-rendering: pixelated;
    background-image: url("/assets/images/simple_wide_purple.png");
    background-repeat: repeat;
}

body {
    background-color: transparent;
    color: white
}